<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="signUpService" class="SignUpService">
        <constructor-arg name="passwordBlackList" ref="passwordBlackListJDBC"/>
        <constructor-arg name="emailValidator" ref="emailValidator"/>
    </bean>

    <bean id="passwordBlackListHardCode" class="PasswordBlackListHardCodeImpl"/>

    <bean id="passwordBlackListFile" class="PasswordBlackListFileImpl">
        <constructor-arg name="fileName" value="./src/password.txt"/>
    </bean>

    <bean id="emailValidator" class="EmailValidatorRegexImpl">
        <property name="regex" value=".+@.+"/>
    </bean>
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <property name="poolName" value="springHikariCP" />
        <property name="connectionTestQuery" value="SELECT 1" />
        <property name="maximumPoolSize" value="10" />
        <property name="idleTimeout" value="30000" />
        <property name="dataSourceClassName" value="org.postgresql.ds.PGSimpleDataSource" />
        <property name="dataSourceProperties">
            <props>
                <prop key="url">jdbc:postgresql://localhost:5432/javalab_password_black_list</prop>
                <prop key="user">postgres</prop>
                <prop key="password">qwerty007</prop>
            </props>
        </property>
    </bean>

    <bean id="passwordBlackListJDBC" class="PasswordBlackListJDBCImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

</beans>